body{
    display: grid;
    grid-template-columns: 1fr 8fr;
    gap: 20px;
}

main{
    display: grid;
    border: 4px solid black;
    border-radius: 4px;
}

footer{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    border: 4px solid black;
    border-radius: 4px;
    grid-column: 2/3;
    text-align: center;
    padding: 40px;
}

img{
    width: 100%;
    height: 90%;
    border: 4px solid black;
    border-radius: 4px;
    gap: 10px;
}

h1{
    text-align: center;
    font-size: 25px;
}

h2{
    text-align: center;
}

article{
    border: 4px solid black;
    border-radius: 4px;
    margin: 4px;
}

nav{
    border: 4px solid black;
    border-radius: 4px;
    width: 100%;
}

header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    border: 4px solid black;
    border-radius: 4px;
    gap: 10px;
    font-size: 50px;
}